/*Styling the footnotes in each blogpost */
.footnotes::after {
  content: "\25BA";
  font-size: 1rem;
  margin-left: 0.3rem;
  vertical-align: middle;
  display: inline-block;
  transition: transform 0.3s ease;
}

.footnotes.active::after {
  transform: rotate(90deg);
}

.footnotes {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.footnote-link {
  text-decoration: none;
}

#main-content h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 3rem;
}
